text-color = white
content-background-color = rgba(0, 0, 0, 0.4)

flex-center(direction, justify=center)
    display flex
    flex-direction direction
    justify-content justify
    align-items center
